Repository nikitazigman/beaver, pull requests merged in 2024-09, with the labels that each got.

#42 Add etl workflow for dataset
  .github/workflows/etl_workflow.yml
  .github/workflows/main.yml
  backend/apps/beaver_etl/poetry.lock
  backend/apps/beaver_etl/pyproject.toml
  backend/apps/beaver_etl/src/clients.py
  backend/apps/beaver_etl/src/settings.py
  dataset/algorithms/classic_algorithms/linear_search/pyproject.toml
Labels: dataset

#43 Move the ecs service from fargate to EC2
  IaC/docker/nginx/Dockerfile
  IaC/scripts/build.sh
  IaC/scripts/build_nginx.sh
  IaC/scripts/push.sh
  IaC/scripts/push_docker_api.sh
  IaC/scripts/push_nginx.sh
  IaC/terraform/.terraform.lock.hcl
  IaC/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.65.0/darwin_arm64/LICENSE.txt
  IaC/terraform/02_netwrork.tf
  IaC/terraform/03_securitygroups.tf
  IaC/terraform/04_loadbalancer.tf
  IaC/terraform/05_iam.tf
  IaC/terraform/07_ecs.tf
  IaC/terraform/08_auto_scaling.tf
  IaC/terraform/cloudwatch.tf
  IaC/terraform/ec2.tf
  IaC/terraform/ecs.tf
  IaC/terraform/efs.tf
  IaC/terraform/load_balancer.tf
  IaC/terraform/network.tf
  IaC/terraform/outputs.tf
  IaC/terraform/provider.tf
  IaC/terraform/rds.tf
  IaC/terraform/route53.tf
  IaC/terraform/variables.tf
  backend/apps/beaver_api/Dockerfile
Labels: IaC

#49 fe: Add settings screen
  backend/apps/beaver_api/src/code_api/filters.py
  backend/apps/beaver_api/src/code_api/views.py
  frontend/beaver_terminal/beaver_cli/assets/settings_screen.tcss
  frontend/beaver_terminal/beaver_cli/components/game_display.py
  frontend/beaver_terminal/beaver_cli/components/settings_screen.py
  frontend/beaver_terminal/beaver_cli/main.py
  frontend/beaver_terminal/beaver_cli/services/code_document.py
  frontend/beaver_terminal/beaver_cli/services/language.py
  frontend/beaver_terminal/beaver_cli/services/tag.py
Labels: beaver_api, beaver_terminal

#52 Fix: Add default values for SettingsScreen variables
  frontend/beaver_terminal/beaver_cli/components/settings_screen.py
Labels: bug, beaver_terminal

#56 Beaver api/production settings
  .github/workflows/beaver_api.yml
  .gitignore
  IaC/terraform/rds.tf
  backend/apps/beaver_api/.env.example
  backend/apps/beaver_api/src/beaver_api/settings.py
  backend/apps/beaver_api/src/beaver_api/urls.py
  backend/apps/beaver_api/src/code_api/migrations/0003_alter_codedocument_code.py
  backend/apps/beaver_api/src/code_api/models.py
  backend/apps/beaver_api/start.sh
Labels: beaver_api

#57 Move all infra to arm64 arc
  IaC/docker/nginx/Dockerfile
  IaC/scripts/build.sh
  IaC/terraform/ec2.tf
  IaC/terraform/ecs.tf
  IaC/terraform/variables.tf
  backend/apps/beaver_api/Dockerfile
Labels: IaC, Mid Priority

#58 Add users to the admin page
  backend/apps/beaver_api/src/users/admin.py
Labels: beaver_api, Mid Priority
